---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ColorScript from '../components/ColorScript.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import {Content as About} from './about.md';
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<About />

			<h3>Here's a sampler of some posts</h3>
			<p>hello blah blah blah</p>

			<h3>View posts by tag</h3>
			<p>hello blah blah blah</p>
		</main>
		<Footer />
		<ColorScript />
	</body>
</html>
