/* ia-writer-mono-latin-400-normal */
@font-face {
	font-family: "iA Writer Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff2)
			format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff)
			format("woff");
}

/* ia-writer-mono-latin-700-normal */
@font-face {
	font-family: "iA Writer Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff2)
			format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-normal.woff)
			format("woff");
}

/* ia-writer-mono-latin-400-italic */
@font-face {
	font-family: "iA Writer Mono";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff2)
			format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-italic.woff)
			format("woff");
}

/* ia-writer-mono-latin-700-italic */
@font-face {
	font-family: "iA Writer Mono";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff2)
			format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-700-italic.woff)
			format("woff");
}
