---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_SUBTITLE } from "../config";
---

<header class="header">
	<div class="header-section">
		<div class="header-frame">
			<!-- <h3 class="website-header-subtitle">{SITE_TITLE}</h3> -->
			<h2 class="website-header-title">{SITE_SUBTITLE}</h2>
			<p class="align-right">Piyush Makwana's Blog</p>
		</div>
	</div>
</header>
<nav>
	<HeaderLink class="navigation_title" href="/posts">posts</HeaderLink>
	<HeaderLink class="navigation_title" href="/">about</HeaderLink>
	</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}

	.align-right {
	font-size: xx-small;
    text-align: center;
}
</style>
