---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>a blog, or whatever</h2>
		</div>
	</div>
	<nav>
		<HeaderLink href="/">home</HeaderLink>
		<HeaderLink href="/blog">posts</HeaderLink>
		<HeaderLink href="https://cassidoo.co" target="_blank">website</HeaderLink>
		<HeaderLink href="https://twitter.com/cassidoo" target="_blank"
			>twitter
		</HeaderLink>
		<HeaderLink href="https://cassidoo.co/newsletter" target="_blank"
			>newsletter
		</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
