---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>{SITE_DESCRIPTION}</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">home</HeaderLink>
	<HeaderLink href="/posts">posts</HeaderLink>
	<HeaderLink href="https://cassidoo.co/newsletter">etc</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
