---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
	<div class="header-section">
		<div class="header-frame">
			<h1>{SITE_TITLE}</h1>
			<h2>a blog, or whatever</h2>
		</div>
	</div>
</header>
<nav>
	<HeaderLink href="/">HOME</HeaderLink>
	<HeaderLink href="/posts">POSTS</HeaderLink>
	<HeaderLink href="https://cassidoo.co">WEBSITE</HeaderLink>
	<HeaderLink href="https://cassidoo.co/newsletter" target="_blank"
		>NEWSLETTER
	</HeaderLink>
</nav>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
