---
const { tags, all } = Astro.props;
---

{all && <h3 class="tag-title">View posts by tag</h3>}
<div class=`${all && "tags"}`>
	{
		tags &&
			tags.map((tag) => (
				<>
					<a class="tag" href={`/tag/${tag}`}>
						#{tag}
					</a>
					{` `}
				</>
			))
	}
</div>
